[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
arrow = "*"
bagit = "*"
click = "*"
geomet = "*"
psycopg2-binary = "*"
pyshp = "*"
requests = "*"
GeoAlchemy2 = "*"
PlyPlus = "*"

[dev-packages]
bumpversion = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
