[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.7"

[packages]
click = "*"
geomet = "*"
"psycopg2-binary" = "*"
pyshp = "*"
requests = "*"
"geoalchemy2" = "*"
plyplus = "*"
attrs = "*"
pymarc = "*"
boto3 = "*"

[dev-packages]
coveralls = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
moto = "*"

[scripts]
slingshot = "python -c \"from slingshot.cli import main; main()\""
