[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

bagit = "*"
click = "*"
geomet = "*"
"psycopg2-binary" = "*"
pyshp = "*"
requests = "*"
"geoalchemy2" = "*"
plyplus = "*"
attrs = "*"
pymarc = "*"


[dev-packages]

bumpversion = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
